/*This class determines the box template for all the other classes on this page.*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*This element determines the background color for the body of the webpage.*/
body {
    background-color: #d9dcd6;
}

/*This class determines the size of the box header, the font of the title, the color, 
  and the background color.*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*This class sets the text size and list style of the title.*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*This class sets the color of the "seo" in the title.*/
.header h1 .seo {
    color: #d9dcd6;
}

/*This class sets the position, font, and text size of the text links in the header*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*This class determines the bullet point types of the list.*/
.header nav ul {
    list-style-type: none;
}

/*This class sets the position of the text links in the header box.*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*This element sets the color and look of the text links in the header box.*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*This element sets the text size of the paragraph text in the h2 section*/
p {
    font-size: 16px;
}

/*This class determines the dimensions and position of the main image on the webpage.*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*This class sets the position of the images that belong to the h2 section.*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*This class determines box dimensions and position in the h2 section of the body.*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*This class determines the box dimensions and position in the h3 section of the body. 
   The box to the right of the webpage.*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*These classes determine the position and color of the title in the h3 section.*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*These classes set the position of the paragraph text in the h3 section.*/
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*These classes set the dimensions and positions of the images in the h3 section.*/
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*These classes determines the font, color, position, and size of the titles in the h2 section of
  the body.*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*These classes sets the size of the images in the h2 section.*/
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/*These classes determine the position and size of the paragraph text in the h2 section.*/
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*This class sets the size and positioning of the text in the footer section.*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
